<div id="slider">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4"> <img src="app/images/food.png" class="img-responsive" id="food" /> </div>
            <div class="col-md-4 col-sm-4 col-xs-4"> <img src="app/images/corporate.png" class="img-responsive" id="corporate" /> </div>
            <div class="col-md-4 col-sm-4 col-xs-4"> <img src="app/images/groceries.png" class="img-responsive" id="groceries" ui-sref="home" /> </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <li class="footer-links-1"> Terms &amp Conditions </li>
                <li class="footer-links"> Priacy </li>
                <li class="footer-links"> Cancellation &amp Refund </li>
                <li class="footer-links"> Delivery </li>
                <li class="footer-links"> Security </li>
            </div>
            <div class="col-md-2"> </div>
            <div class="col-md-4">
                <ul class="jkc-1">
                    <li id="copy"> © Copyright 2016.Powered By </li>
                    <li id="jkc"><a href="http://www.jkctechnosoft.com/" target="_blank"> JKC Technosoft </a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>