<div class="wrapper">

<nav id="navbar-main" class="navbar navbar-default" style="background:#ffffff;" >
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" id="brand" href="#"><img src="app/images/logo-h.png" class="img-responsive"></a>
    </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-left " id="menu">
          <li><a href="#about-us">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#projects">Pricing</a></li>
		  <li><a href="#projects">Helpcenter</a></li>
          <li><a href="#projects">Contact</a></li>
       </ul>  
		
	   <ul class="nav navbar-right " id="menu">
          <li><a href="#contact-us">Track</a></li>
		  <li><a href="#about-us">Book Now</a></li>
          <li><a ui-sref="auth.register">Login</a></li>
       </ul>
	   
      </div>
	  </div>
</nav>
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
   <div ui-view></div></div>
        </div>
<div id="slider">
<img src="app/images/boy.jpg" class="img-responsive" />
</div>

<div class="why-deliveryhub">
<div class="container">
<div class="row">

	<h3 class="wdh"> WHY <span class="dh"> DELIVERYHUB </span> </h3>

	<div class="col-md-3">
		<div class="residential">
		<div class="row no-gutter">
			<div class="col-md-1">
			</div>
			<div class="col-md-2">
				<img src="app/images/home-icon.png"  class="img-responsive" id="home" />
			</div>
			<div class="col-md-9">
				<h4 class="wdh-heading"> Residential / Local </h4>
				<p class="wdh-para"> We offer packing equipment, packing instructions and tips as well as labor and support to make your move efficient and stress free. </p>
			</div>
		</div>
		</div>
	</div>
	
	<div class="col-md-3">
		<div class="commercial">
		<div class="row no-gutter">
			<div class="col-md-1">
			</div>
			<div class="col-md-2">
				<img src="app/images/van-icon.png"  class="img-responsive" id="home" />
			</div>
			<div class="col-md-9">
				<h4 class="wdh-heading"> Commercial / Office </h4>
				<p class="wdh-para"> We offer packing equipment, packing instructions and tips as well as labor and support to make your move efficient and stress free. </p>
			</div>
		</div>
		</div>
	</div>
	
	<div class="col-md-3">
		<div class="box">
		<div class="row no-gutter">
			<div class="col-md-1">
			</div>
			<div class="col-md-2">
				<img src="app/images/box-icon.png"  class="img-responsive" id="home" />
			</div>
			<div class="col-md-9">
				<h4 class="wdh-heading"> Box Delivery </h4>
				<p class="wdh-para"> We offer packing equipment, packing instructions and tips as well as labor and support to make your move efficient and stress free. </p>
			</div>
		</div>
		</div>
	</div>
	
	<div class="col-md-3">
		<div class="loading">
		<div class="row no-gutter">
			<div class="col-md-1">
			</div>
			<div class="col-md-2">
				<img src="app/images/trolley.png"  class="img-responsive" id="home" />
			</div>
			<div class="col-md-9">
				<h4 class="wdh-heading"> Loading / Unloading </h4>
				<p class="wdh-para"> We offer packing equipment, packing instructions and tips as well as labor and support to make your move efficient and stress free. </p>
			</div>
		</div>
		</div>
	</div>
	
</div>
</div>
</div>


<div class="pricing">
<div class="container">
<div class="row">

<h3 class="pricing-heading"> Pricing </h3>

<div class="col-md-2">

</div>
<div class="col-md-4">
<div class="pricing-box">
	<h4 class="price-sub-heading"> 	Deliveryhub Super </h4> 
	<li class="line-lg"> Rs. 30-base Price </li>
	<li class="line-g"> Rs. 10 Per Km </li>
	<li class="line-lg"> 1000 Grams Included </li>
	<li class="line-g"> Rs. 25 Extra For Every 1000 Grams </li>
	<li class="line-lg"> Eta 60 Minutes For First 5 km </li>
	<li class="line-g"> 6 Min For Every Extra Km </li>	
</div>

</div>
<div class="col-md-4">
<div class="pricing-box">
	<h4 class="price-sub-heading"> 	Deliveryhub special </h4> 
	<li class="line-lg"> Rs. 30-base Price </li>
	<li class="line-g"> Rs. 10 Per Km </li>
	<li class="line-lg"> 1000 Grams Included </li>
	<li class="line-g"> Rs. 25 Extra For Every 1000 Grams </li>
	<li class="line-lg"> Eta 60 Minutes For First 5 km </li>
	<li class="line-g"> 6 Min For Every Extra Km </li>
</div>
</div>
<div class="col-md-2">

</div>



</div>
</div>
</div>


<div class="footer">
<div class="container">
<div class="row">

<div class="col-md-5 col-xs-12">
	<h4 class="footer-heading"> Our Links </h4>
	<li class="footer-links-h"> Home </li>
	<li class="footer-links"> About us </li>
	<li class="footer-links"> Services </li>
	<li class="footer-links"> Pricing </li>
	<li class="footer-links"> Contact us </li>
</div>

<div class="col-md-4 col-xs-12">
	<h4 class="footer-heading"> Help Line </h4>
	<span class="footer-hl"> +91 040 456456 </span>
	<i class="fa fa-facebook" id="social-icons" ></i>
	<i class="fa fa-google-plus" id="social-icons" ></i>
	<i class="fa fa-twitter" id="social-icons" ></i>
	<i class="fa fa-linkedin" id="social-icons" ></i>
</div>

<div class="col-md-3 col-xs-12">
	<h4 class="footer-heading"> Download Our App </h4>
	<img src="app/images/playstore.png" class="img-responsive" id="playstore" />
</div>

</div>
</div>
</div>

<div class="footer-copyrights">
<div class="container">
<div class="row">

<p class="copyrights"> 2017 All Rights Reserved | Designed &amp Developed By JKC Technosoft </p>

</div>
</div>
</div>


</div>